.list-blog {
	.item-blog {
		float: left;
		padding: 7.5px;
		width: 33.333%;

		@media all and (max-width: 750px){
			width: 50%;
			max-width: 360px;

			&:nth-child(3){
				display: none;
			}
		}

		@media all and (max-width: 500px){
			width: 100%;
			margin: 10px auto;
			display: block;
			float: none;

			&:nth-child(3){
				display: block;
			}
		}

		img {
			display: block;
			width: 100%;
		}

		.cont-blog {
			border: 1px solid #d1d1d2;
			border-top: 0;
			display: block;
			padding: 10px;
			@include animacao;

			h3 {
				margin-bottom: 15px;

				a {
					color: $azul-petroleo;
					font-size: 1.875rem;
					line-height: 2rem;
					text-decoration: none;
					@include animacao;

					@media all and (max-width: 600px){
						font-size: 1.275rem;
						line-height: 1.5rem;
					}

					&:hover {
						color: $azul-claro;
					}
				}
			}

			p {
				font-style: italic;
				font-weight: $light;
				font-size: 1.125rem;
				line-height: 1.5rem;
			}
		}

		&:hover {
			.cont-blog {
				background-color: #ffffff;
			}
		}
	}
}

.blog {
	.cont-empresa-mini {
		h2 {
			font-size: 3rem;
		}
	}
}