.box-sistemas {
	background-position: center;
	background-size: cover;
	border-top: 35px solid $cinza;

	h2, p, a {
		float: right;
		@include clear;
	}

	h2, p {
		max-width: 440px;
		width: 100%;
		color: #ffffff;
		text-align: left;
	}
}

.header-sistemas {
	margin-bottom: 10px;
}

.sistemas {
	.item-sistemas {

		.content-sistemas {
			@media all and (max-width: 1000px){
				padding-left: 20px;
				padding-right: 20px;

				.indicados-button {
					.col-6 {
						width: 100%;

						.owl-carousel.list-segmentos {
							max-width: 500px;
							margin: 0 auto;
						}

						.botoes {
							width: auto;
							margin: 50px auto 0;
							overflow: hidden;
							text-align: center;

							a {
								float: none;
								display: inline-block;
							}
						}
					}
				}
			}

			@media all and (max-width: 600px){
				.col-6 {
					width: 100%;

					p {
						margin-bottom: 30px;
					}
				}
			}
		}

		.box-content {
			padding-bottom: 100px;
		}

		.title {
			background-color: $azul;
			padding: 10px 40px 20px;
			position: relative;

			h2 {
				color: #ffffff;
				float: left;
				font-weight: $bold;
				font-size: 3.225rem;
				line-height: 3.225rem;

				@media all and (max-width: 600px){
					font-size: 2rem;
				}
			}

			.img-sistemas {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				overflow: hidden;
				background-color: #ffffff;
				position: absolute;
				top: 40%;
				right: 0;
				text-align: center;
				display: table;
				line-height: 90px;
				padding: 0 10px;
				@include box-sizing;

				img {
					max-width: 100%;
					width: auto;
					display: table-cell;
					vertical-align: middle;
				}
			}
		}

		.caracteristicas-sistemas {
			display: block;
			margin-top: 5px;
			padding-left: 30px;

			span {
				color: $azul-petroleo;
				position: relative;
				top: -6px;
			}
		}

		.botoes {
			display: block;
			width: 100%;
			margin-top: 100px;

			@media all and (max-width: 600px){
				text-align: center;
			}

			.orcamento {
				width: auto;
				max-width: none;
				padding: 0 25px;
				background-color: $azul-petroleo;

				span, i {
					font-size: 1.125rem;
				}

				&:first-child {
					margin-right: 20px;
				}

				&:hover {
					background-color: darken($azul-petroleo, 10%);
				}

				@media all and (max-width: 600px){
					margin: 0 auto 5px!important;
				}
			}
		}

		.list-segmentos {
			display: block;
			width: 100%;
			margin-top: 50px;

			h4 {
				color: $azul;
				font-size: .875rem;
			}
		}
	}
}

.owl-carousel.list-segmentos {
	padding: 0 40px;
	margin-top: 20px!important;

	.item {
		img {
			max-width: 60px;
			margin: 0 auto;
		}
		a {
			display: block;
			@include animacao;

			span {
				color: $azul;
				font-size: .687rem;
				line-height: .8rem;
				display: block;
				margin-top: 5px;
			}
			&:hover {
				opacity: .5;
				text-decoration: none;
				color: $azul-petroleo;
			}
		}
	}

	.owl-nav {
		position: absolute;
		top: 50%;
		margin-top: -12px;
		height: 0;
		left: 0;
		width: 100%;

		&.disabled {
			display: block!important;
		}

		.owl-prev, .owl-next {
			cursor: pointer;

			i {
				color: $azul;
				font-size: 1.5rem;
			}

			&.disabled {
				opacity: .3;
				cursor: default;

				&:hover {
					opacity: .3;
				}
			}
		}

		.owl-prev {
			float: left;
		}

		.owl-next {
			float: right;
		}
	}
}