strong {
	font-weight: $bold;
}

h1 {
	max-width: $wLogo;
	padding: 25px 0;
	width: 100%;
	float: left;
	@include animacao();

	a {
		img {
			width: 100%;
		}
	}
}

h2 {
	font-size: 2.812rem;
	line-height: 3rem;
	font-weight: $regular;
	color: $azul-petroleo;
	display: block;
	text-align: center;

	&.tit-grande {
		font-size: 4.812rem;
		line-height: 5rem;
	}

	&.ico {
		img {
			display: block;
			margin: 0 auto 10px;
		}
	}
}

h3 {
	font-size: 1.225rem;
	line-height: 1.5rem;
	font-weight: $regular;
}

h4 {

}

h5 {

}

h6 {

}

p {
	font-size: $font-size;
	line-height: $font-size+.5;
	font-weight: $light;
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0px;
	}

	&.mini {
		font-size: 1rem;
		line-height: 1.25rem;
	}

	&.sub-tit {
		font-size: 1.125rem;
		line-height: 28px;
		font-style: italic;
		display: block;
		margin-top: 20px;
	}

	a {
		color: $azul-claro;
		text-decoration: underline;
		font-weight: $light;
		@include animacao;

		&:hover {
			color: $azul-petroleo;
		}
	}

	@media all and (max-width: 770px){
		font-size: 1.25rem;
		line-height: (1.25rem)+.5;
	}
}

.justify-center {
	text-align: justify;  
	/*-moz-text-align-last: center;
	text-align-last: center;*/
}

.center {
	text-align: center;
}

.no-margim {
	margin: 0!important;
}

.azul {
	color: $azul!important;
}

.azul-petroleo {
	color: $azul-petroleo!important;
}