input:not([type='submit']), textarea {
	width: 100%;
	height: 34px;
	margin-bottom: 5px;
	line-height: 34px;
	padding: 0 15px;
	color: #ffffff;
	font-weight: $regular;
	font-size: .8125rem;
	display: inline-block;
	background-color: transparent;
	border: 1px solid #ffffff;
	@include animacao;
}

button, input[type='submit'], .button {
	width: 100%;
	height: 34px;
	line-height: 34px;
	padding: 0 15px;
	color: #ffffff;
	font-weight: $regular;
	font-size: .937rem;
	text-align: center;
	display: inline-block;
	font-style: italic;
	@include animacao;

	span {
		display: block;
		color: #ffffff;
		font-style: italic;
	}

	.fa {
		font-size: 1.187rem;
		color: $azul-escuro;
	}	

	&:hover {
		background-color: $azul;
	}

	&.cadastro-news {
		color: $azul-petroleo;
		background-color: #ffffff;
		border-radius: 0px;
		font-weight: $light;
		font-style: normal;

		&:hover{
			background-color: rgba(#ffffff, .5);
			color: #ffffff;
		}
	}

	&.comecar {
		float: left;
		background-color: $azul-petroleo;
		border-radius: 5px;
		font-style: normal;
		max-width: 220px;
		width: 100%;
		height: 60px;
		line-height: 60px;

		span {
			font-size: 1.225rem;
			display: block;
			color: #ffffff;
			font-style: italic;
			font-weight: $light;

			i {
				color: #ffffff; 
			}
		}

		&:hover {
			background-color: darken($azul-petroleo,15%);
			text-decoration: none;
		}
	}

	&.orcamento{
		float: left;
		width: auto;
		background-color: $azul;
		color: #ffffff;
		border-radius: 5px;
		font-style: normal;

		span {
			color: #ffffff;
			font-style: italic;
		}

		&:hover {
			background-color: darken($azul,15%);
			text-decoration: none;
		}
	}

	&.ajuda {
		height: 70px;
		line-height: 70px;
		background-color: $azul;
		color: #ffffff;
		border-radius: 5px;
		font-size: 1.562rem;
		width: 300px;
		margin: 75px auto 0;
		display: block;
		font-style: normal;

		&:hover {
			background-color: darken($azul,15%);
			text-decoration: none;
		}
	}

	&.btn-sistemas {
		height: 70px;
		line-height: 70px;
		background-color: $azul;
		color: #ffffff;
		border-radius: 5px;
		font-size: 1.562rem;
		width: 200px;
		margin: 75px auto 0;
		display: block;
		font-style: normal;

		&:hover {
			background-color: darken($azul,15%);
			text-decoration: none;
		}
	}

	&.button-slide {
		padding: 0 50px;
		height: 70px;
		line-height: 70px;
		background-color: $azul;
		color: #ffffff;
		border-radius: 5px;
		font-size: 1.25rem;
		width: auto;
		margin: 20px 0 0;
		display: inline-block;
		float: left;
		font-style: normal;
		@include clear;

		&:hover {
			background-color: darken($azul,15%);
			text-decoration: none;
		}
	}

	&.diagonal {
		transform: skew(-10deg);

		span {
			transform: skew(10deg);
			display: block;
			color: #ffffff;
			font-style: italic;
		}
	}

	&.ver-mais {
		background-color: $azul-petroleo;
		border-radius: 10px;
		color: #ffffff;
		font-style: italic;
		height: 45px;
		line-height: 45px;

		&:hover {
			background-color: darken($azul-petroleo, 10%);
			text-decoration: none;
		}
	}
}

form {
	margin-top: 0px;
	width: 100%;
	@include clear();

	input, textarea {
		max-width: 100%;
	}

	label {
		font-size: 1rem; 
		color: $cor-txt;
		font-weight: $light;
		line-height: 35px;

		&[for='mensagem'] {
			opacity: 0.6;
		}
	}

	input[type='text'], input[type='email'] {
		background-color: transparent;
		font-size: 1rem; 
		color: $cor-txt;
		font-weight: $light;
		font-style: italic;
		line-height: 35px;
		box-sizing: border-box;
	}

	textarea {
		background-color: transparent;
		font-size: 1rem; 
		color: $cor-txt;
		font-weight: $light;
		width: 100%;
		height: 115px;
		padding: 20px;
		resize: vertical;
		@include box-sizing();
	}

	fieldset {
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}

		span {
			border: 2px solid #5a5758;
			border-width: 0 0 2px;
			padding-top: 20px;
			padding-bottom: 20px;
			display: block;
		}

		&.erro {
			input, textarea {
				border-color: $vermelho!important;

				&::-webkit-input-placeholder {
					color: $vermelho!important;
				}

				&:-moz-placeholder {
					color: $vermelho!important; 
				}

				&::-moz-placeholder {
					color: $vermelho!important;
				}

				&:-ms-input-placeholder {  
					color: $vermelho!important;
				}
			}
		}
	}

	&.busca-header {
		margin-top: 0;
		border-bottom: 2px solid $azul-escuro;
		position: relative;

		fieldset {
			margin-top: 0px;
		}

		input {
			border: 0;
			line-height: 18px;
			width: 100%;
			margin: 0px;
			font-weight: $light;
		}

		button {
			position: absolute;
			top: 6px;
			right: 0px;
			width: auto;
			background: no-repeat;
			height: 22px;
			line-height: 22px;
			background-color: #fff;

			.fa {
				@include animacao;
			}

			&:hover {
				.fa {
					color: $azul-claro;
				}
			}
		}
	}

	&.contato {
		fieldset {
			margin-top: 15px;

			input, textarea {
				border: 1px solid $azul;
				border-radius: 10px;
				color: $cor-txt;
				font-weight: $light;
				font-size: .937rem; 
				margin: 0;

				@mixin placeholder {
					opacity: 1;
					color: $cor-txt;
					font-weight: $light;
					font-size: .937rem; 
				}

				&::-webkit-input-placeholder {
					@include placeholder;
				}

				&:-moz-placeholder {
					@include placeholder;
				}

				&::-moz-placeholder {
					@include placeholder;
				}

				&:-ms-input-placeholder {  
					@include placeholder;
				}
			}

			textarea {
				line-height: 2rem;
				padding: 5px 10px;
			}

			input {
				height: 45px;
				line-height: 45px;
			}

			button {
				padding: 0 90px;
				height: 70px;
				line-height: 70px;
				background-color: $azul-petroleo;
				font-size: 1.125rem;
				font-weight: $regular;
				font-style: italic;
				display: inline-block;
				margin-top: 15px;
				border-radius: 10px;
				color: #ffffff;
				width: auto;
				@include animacao;

				&:hover {
					background-color: darken($azul-petroleo, 10%);
					color: #ffffff;
				}
			}
		}
	}
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}

.select {
	overflow: hidden;
	background-color: #e6e7e8;
	line-height: 44px;
	height: 40px;
	padding: 0 0 0 10px;
	margin-bottom: 20px;
	display: block;
	position: relative;
	@include box-sizing();

	select {
		width: 88%;
		padding-right: 135px;
		background-color: transparent;
		font-weight: $regular;
		font-size: 1.125rem;
		color: $roxo;
		box-sizing: content-box;
		position: relative;
		z-index: 99;
		cursor: pointer;
	}

	&:after {
		content: "\f107";
		position: absolute;
		right: 13px;
		top: 12px;
		font: normal normal normal 46px/1 FontAwesome;
		cursor: pointer;
		height: 15px;
		line-height: 15px;
		z-index: 0;
	}
}



.msg-form {
	text-align: center;
	font-size: 1rem;
}