.header {
	width: 100%;
	@include clear;

	h1 {
		float: left;
	}

	.box-menu {
		float: right;
		height: 34px;
		padding: 25px 0;
	}

	.info-header {
		display: block;
		width: 100%;
		padding: 3px 0;
		border-top: 1px solid $borda;
		@include clear;

		.contato-header {
			width: auto;
			display: inline-block;
			line-height: 34px;
			margin-top: 2px;

			.tel {
				display: inline-block;
				margin-right: 10px; 
				font-weight: $light;
				color: $azul-petroleo;
				font-size: .75rem;

				.fa {
					color: $azul-petroleo;
					font-size: 1rem;
					position: relative;
					top: 2px;
					margin-right: 3px;
				}
			}
		}

		.orcamento-header {
			float: right;
			margin-top: 2px;

			.carrinho {
				width: 28px;
				height: 25px;
				background: url('../images/ico_favorito.png') no-repeat;
				float: left;
				margin: 4px 0 0 10px;
				cursor: pointer;
			}
		}
	}
}

.header-post {
	background-size: cover;
	background-position: center;
	background-color: $azul-petroleo;

	h2 {
		padding: 150px 0 20px;
		font-size: 4rem;
		text-decoration: none;
		text-align: left;
	}

	&:not(.bg-off){
		text-shadow: 1px 1px 1px #ffffff;
		color: $tit-escuro;
	}

	&.bg-off {
		h2 {
			color: #ffffff;
		}
	}
}

.subtitulo, .subtitulo p {
	color: $tit-escuro;
	font-size: 1.3rem;
	line-height: 1.5rem;
	display: block;
	font-style: italic;
	font-weight: $regular;

	&.margin-top {
		margin-top: 20px;
	}

	&.margin-bottom {
		margin-bottom: 100px;
	}

	&.destaque {
		font-size: 1.8rem;
		line-height: 2rem;
		font-weight: $light;
	}
}