.nav {
	width: 100%;
    position: relative;
    z-index: 999;

	ul {

		li {
			float: left;
			margin: 0;
			padding: 0 9px 0 8px;
			line-height: 100px;
			@include animacao();

			i {
				display: none;
				color: #fff;
				font-size: 2rem;
				@include animacao();
			}

			a {
				margin-left: -4px;
				display: inline-block;
				height: 34px;
				font-size: 1rem;
				line-height: 34px;
				color: $azul-petroleo;
				font-weight: $regular;
				padding: 0 15px;
				text-decoration: none;
				@include animacao();
			}

			&:hover {
				background-color: $azul;

				> a {
					color: #ffffff;
				}

				@media all and (min-width: 811px){
					> ul {
						display: block!important;
						visibility: visible!important;
					}
				}
			}

			&:first-child {
				a {
					margin-left: 0;
				}
			}

			&.submenu-active {
				i {
					display: inline-block;
				}
			}


			ul {
				display: none;
				width: 500px;
				background-color: $azul;
				position: absolute;
				right: 0;
				top: 100px;
				z-index: 999;
				padding: 20px 0;
				border-top: 2px solid #ffffff;
				@include animacao();

				li {
					display: block;
					margin-top: 10px;
					line-height: normal;

					a {
						display: inline;
						margin-left: 0px;
						color: #ffffff;
						line-height: 22px;
						height: auto;
						padding: 1px;
						font-weight: $regular;
						border-bottom: 2px solid $azul;
						background-color: transparent;
					}

					&:nth-child(1), &:nth-child(2){
						margin-top: 0px;
					}

					&:hover {
						> a {
							color: #ffffff;
							border-bottom-color: #ffffff;
							background-color: transparent;
						}
					}
				}

				&.submenu {
					position: absolute;
					width: 320px;
					left: 0;
					top: 62px;
					margin-left: -4px;

					&:before {
						content: '';
						background-color: rgba(#FFF1E2, .9);
						position: fixed;
						top: 120px;
						width: 100%;
						height: 100vh;
						left: 0;
					}
				}

				&.submenu-sub {
					display: none;
					margin-left: 60px;

					a {
						padding: 0 15px;
					}
				}
			}
		}
	}

	@media all and (max-width: 810px){
		height: 100vh;
		position: fixed;
		display: table;
		width: 100%;
		margin: 0;
		left: 0;
		top: -110vh;
		z-index: 9999;
		background-color: $azul;

		ul {
			vertical-align: middle;
			display: table-cell;

			li {
				float: right;
				padding-right: 150px;
				display: block;
				@include clear;
				text-align: right;
				line-height: 50px;

				a {
					color: #ffffff;
					font-size: 2rem;
					line-height: normal;
					font-weight: $bold;
					border: none;

					&:hover {
						color: #ffffff;
						opacity: .3;
					}
				}

				ul {
					width: 100%;
					position: relative;
					top: auto;
					padding: 0;
					border: 0;
					overflow-y: scroll;
					height: 70vh;

					li {
						width: 100%!important;
						padding: 0;
						margin: 10px 0;

						a {
							font-size: 1.5rem;
							line-height: 2rem;
						}
					}
				}
			}
		}
	}

	@media all and (max-width: 600px){
		ul {
			li {
				padding-right: 50px;
			}
		}
	}

	@media all and (max-width: 450px){
		ul {
			li {
				padding-right: 20px;
			}
		}
	}
}

/* busca mobile */
#form-busca {
	display: none;
	font-size: 2rem;
	position: absolute;
	top: 24px;
	right: 33px;
	cursor: pointer;
	@include animacao;

	&.active {
		z-index: 999999;
	}

	@media all and (max-width: 800px){
		display: block;
	}

	@media all and (max-width: 400px){
		right: 20px;
	}

	&:hover {
		color: $azul;
	}
}

#boxsearchform {
	display: block;

	@media all and (max-width: 800px){
		display: none;
		position: fixed;
		top: 0px;
		left: 0;
		z-index: 99999;
		background-color: #ffffff;
		height: 100vh;
		width: 100%;
		padding: 30vh 30px;

		form {
			
		}
	}
}

/* menu mobile */
.menu-mobile {
	display: none;
	float: right;
	width: 40px;
	height: 30px;
	margin-top: 28px;
	margin-left: 20px;
	text-decoration: none;
	position: absolute;
	top: 29px;
	right: 33px;
	margin: 0;
	z-index: 99999;

	@media all and (max-width: 810px) {
		display: block;
	}

	@media all and (max-width: 800px){
		right: 85px;
	}

	@media all and (max-width: 400px){
		right: 65px;
	}

	@media all and (max-width: 340px){
		right: 55px;
	}

	span {
		display: block;

		em {
			font-style: normal;
			color: $cor-txt;
			font-size: 3rem;
			line-height: 2rem;
			display: block;
			margin-top: -2px;
			@include animacao();

			&:hover {
				color: $azul;
			}
		}
	}

	&.active {
		text-align: center;
		position: fixed;
		text-decoration: none;

		span {
			em {
				color: #ffffff;
			}
		}

		&:hover {
			em {
				color: $cor-txt;
			}
		}
	}

	&:not(.active){
		span {
			position: relative;

			em {
				display: none;
			}

			&:before, &:after {
				content: '';
				position: absolute;
			}

			&:before {
				top: 11px;
			}

			&:after {
				top: 22px;
			}
		}

		span, span:before, span:after {
			background-color: $cor-txt;
			height: 5px;
			width: 40px;
			@include animacao();
		}

		&:hover {
			span, span:before, span:after {
				background-color: $azul;
			}
		}
	}
}

@mixin active {
	> a {
		color: $azul;
	}

	&:hover {
		> a {
			color: #ffffff!important;
		}
	}

	@media all and (max-width: 810px){
		> a {
			color: #ffffff;
			text-decoration: underline;
		}

		&:hover {
			> a {
				opacity: .8;
			}
		}
	}
}

body {
	&.post-type-archive-equipamentos, &.tax-equipamentos_taxonomy, &.single-equipamentos {
		.nav {
			.menu-equipamentos {
				@include active;
			}
		}
	}

	&.post-type-archive-sistemas {
		.nav {
			.menu-sistemas {
				@include active;
			}
		}
	}

	&.page-id-100 {
		.nav {
			.menu-contato {
				@include active;
			}
		}
	}

	&.page-id-102 {
		.nav {
			.menu-empresa {
				@include active;
			}
		}
	}
}