$width: 1000px;
$padding-container: 0px;
$padding-col: 15px;

$font-size: .875rem;

$cor-txt: #5c5c5c;
$tit-escuro: #424243;
$tit-claro: #6f6f6f;
$azul-escuro: #428a9c;
$azul: #4fb7dc;//7cc6f2;
$azul2: #5da4c7;
$azul-petroleo: #006166;
$azul-claro: #61b0d8;
$azul-bb: #8fc5ec;
$cinza: #eeeeee;
$cinza2: #c8c8c8;

$borda: #d1d1d1;


$vermelho: #790000;
$dourado: #a4925f;

$bege: #a4925f;
$bordo: #790000;

$laranja: #ea793e;
$marrom: #99552b;
$roxo: #ffffff;

$verde-limao: #b5bd00;
$verde: #b5bd00;


$light: 300;
$light-italic: 300i;
$regular: 500;
$regular-italic: 300i;
$bold: 700;

$wLogo: 225px;

$hSlide: 50vh;