$width: 1000px;
$padding-container: 0px;
$padding-col: 15px;

$font-size: .875rem;

$cor-txt: #7a7a7a;
$azul-escuro: #05575f;
$azul: #5da4c7;

$borda: #d1d1d1;


$vermelho: #790000;
$dourado: #a4925f;

$bege: #a4925f;
$bordo: #790000;

$laranja: #ea793e;
$marrom: #99552b;
$roxo: #ffffff;

$verde-limao: #b5bd00;
$verde: #b5bd00;

$light: 300;
$regular: 500;
$bold: 700;

$wLogo: 225px;

$hSlide: 88vh;